.main-container {
    padding: 5%;
    display: flex;
    justify-content: space-between;
}

/* ----------- LEFT CONTAINER ----------- */
.left-container {
    flex-basis: 5%;
    margin-right: 25%;

    align-self: flex-start;
    
}



/* ---------- RIGHT CONTAINER --------- */
.right-container {
    flex-basis: 55%;

    align-self: flex-end;
    justify-content: space-between;
    position: sticky;

   
}