.stats-main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  
}

.stats-left-container {
    
    flex-basis: 45%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   margin-left: -50px;
    
}


.stats-h2 {
   margin-left: 200px;

}

.stats-right-container {
    flex-basis: 55%;

    align-self: flex-end;
    justify-content: space-between;
    position: sticky;

}

.stats-right-card {
    width: 400px;
    height: 222px;
}


