nav {
    width: 100%;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    position: relative;
    padding: 4%;
    
}

.nav-item  {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 2%;
    
}

.left-corner{
    display: flex;
    justify-content: center;
    align-items: left;
}

.right-corner{
    display: flex;
    justify-content: center;
    align-items: right;
    margin-left: 500px;
}

.image-text {
    color: black;
    position: relative;
    margin-left: 27px;
    margin-top: -45px;
}

.image-text-challenge {
    color: black;
    position: relative;
    margin-left: 10px;
    margin-top: -44px;
}


img {
    padding: 2%;
    border-radius: 50%;
}

h1 {
    color: white;
    margin-top: 25px;
   font-size: 300%;
}
